
body {
  font-family: Arial, sans-serif;
}


.navbar {
  padding: 1rem 2rem; 
  background-color: #ffa07a; 
}

.navbar-brand {
  font-size: 1.5rem; 
  color: #1c1b1b; 
}

.navbar-toggler {
  border: none; 
}

.navbar-toggler-icon {
  color: #1f1e1e; 
}

.navbar-nav .nav-link {
  font-size: 1.2rem; 
  color: #060606; 
}

.navbar-toggler-icon:hover {
  background-color: transparent; 
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Encabezado */
.jumbotron {
  background-color: #ffa07a;
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;
}

h1, h2, h3 {
  color: #ff6347;
}

#recetas,
#contacto {
  padding: 4rem 2rem;
}

.btn-primary {
 
  border-color: #0b0b0b;
}

footer {
  background-color: #ff6347;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.card-title {
  color: #ff6347;
}
.carousel-item img {
  height: 400px; 
  object-fit: cover; 
}
/* Estilos para laptops */
@media only screen and (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}
/* Estilos para laptops */
@media only screen and (min-width: 992px) {
  /* Establecer filas de 3 columnas */
  .row-cols-lg-3 > .col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

/* Estilos para tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Establecer filas de 2 columnas */
  .row-cols-md-2 > .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
  /* Las tarjetas se mostrarán en columnas */
  .row-cols-sm-1 > .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
